 <div align="center" class="pad">  
  <div class="container-fluid">
      <body>
        <div class="rightcolumn">
          <div align="center">
            <br>
            <h2> Book Details</h2>
          </div>
		   <div class="add">
					<div class="w3-bar-item w3-button">
					  <!-- <i class="fa fa-search"></i> -->
					  <input type="text" placeholder="Search Book by Title"  [(ngModel)]="searchString" />

					</div>     
			</div>
  
 		<div class="media-object-section main-section">
              <div *ngFor="let p of myArrayList['value']|tableFilter:searchString:'title'">
											
						<div align="left">		  
									<img src="../../../assets/book.png"align="right">
							
							<h3>{{p.title}}</h3>
							 <a class="category">{{p.genre}}</a> 
							 <br>
							<small><i class="mdi mdi-account"></i> Author: <span>{{p.author}}</span></small>
							
													   
							<p>
							  <small><i class="mdi mdi-format-line-weight"></i> Description </small> <br>
								  <span>{{p.description}}</span>
							
							 
							</p>
							<span class="price">{{p.price}}</span>
					    </div>
						<hr>
              </div>
              <br>
        </div>
		</div>
</body>
</div>
 </div> 
