* 
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .add
  {
    text-align: right;
  }
  #books {
    
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
  }
  
  #books td, #books th {
    border: 1px solid rgb(240, 230, 230);
    padding:10px;
  }
  
  #books tr:nth-child(even){
    background-color: #f2f2f2;
    padding:20px;
  }
  
  #books tr:hover {background-color:whitesmoke;}
  
  #books th {
    text-align: left;
    background-color: gainsboro;
    color: rgb(17, 2, 2);
    padding:20px;
  }
  
  /* Style the header */
  header {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: solid;
  }

  
  input[type=text]{
   
    width: 350px;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid rgb(247, 42, 42);
    border-radius: 2px;
    font-size: 17px;
    background-color:#f2f2f2;   
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position:right;
  } 
  
  input[type=text]:focus {
    width: 100%;
  }

 